<html lang="en">
<head>
    <% include  ../views/head %>
    <script type="text/javascript">
oFReader = new FileReader(), rFilter = /^(?:image\/bmp|image\/cis\-cod|image\/gif|image\/ief|image\/jpeg|image\/jpeg|image\/jpeg|image\/pipeg|image\/png|image\/svg\+xml|image\/tiff|image\/x\-cmu\-raster|image\/x\-cmx|image\/x\-icon|image\/x\-portable\-anymap|image\/x\-portable\-bitmap|image\/x\-portable\-graymap|image\/x\-portable\-pixmap|image\/x\-rgb|image\/x\-xbitmap|image\/x\-xpixmap|image\/x\-xwindowdump)$/i;

oFReader.onload = function (oFREvent) {
  document.getElementById("uploadPreview").src = oFREvent.target.result;
};

function loadImageFile() {
  if (document.getElementById("uploadImage").files.length === 0) { return; }
  var oFile = document.getElementById("uploadImage").files[0];
  if (!rFilter.test(oFile.type)) { alert("You must select a valid image file!"); return; }
  oFReader.readAsDataURL(oFile);
}
</script>
</head>
<body>

  <% include ../views/nav %>
    
      <div class="ui grid">
        <div class="center aligned column" id="add-menu">
          <h1>Add Photos For Your Menu</h1>
          <form class="ui form" action="/foodgallery/addfood" enctype="multipart/form-data" method="post">
            <div class="field">
            <img id="uploadPreview" src="" alt="Food Photos" style="width:300px; height:300px;">
            </div>
            <div class="field">
            <input type="hidden" name="menu_id" value="<%= menu._id %>">
            <input class="ui button" id="uploadImage" type="file" name="foodimg" onchange="loadImageFile();"/>
            </div>
            <div class="field">
            <input class="ui red button" type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>

    
  
</body>