<html lang="en">
<head>
  <% include  ../views/head %>
</head>
<body>
    <% include ../views/nav %>
    <div class="ui stackable grid">
      <div class="ui grid">
        <div class="row" id="add-menu">
          <h1>List Your Menu Here</h1>
        </div>
      </div>
      <div class="ui grid">
        <div class="row">
        
        
          <div class="two wide column"></div>
            <div class="twelve wide column">
              <form class="ui form" action="/menu/add" enctype="multipart/form-data" method="post" id="add-menu-form-1">
                <div class="row" id="addmenu-1">
                <div class="two fields">
                  <div class="field" style="text-align:center;">
                    <h3 style="padding:15px 40px;">Title</h3>
                  </div>
                  <div class="field">
                    <input type="text" name="title" placeholder="Title for your event" style="height:54px; border-radius:0px; box-shadow:0 0 0 1px rgba(39,41,43,.15)inset!important;">
                  </div>
                </div>
                <div class="two fields">
                  <div class="field" style="text-align:center;">
                    <h3 style="padding:15px 40px;">Maximum Guest Number</h3>
                  </div>
                  <div class="field">
                    <div class="ui selection dropdown" style="border-radius:0px; width:100%; height:54px; box-shadow:0 0 0 1px rgba(39,41,43,.15)inset!important;">
                      <input type="hidden" name="quantity">
                      <div class="default text" style="margin-right:0px;">Guest</div>
                      <i class="dropdown icon"></i>
                      <div class="menu">
                        <div class="item" data-value="1">1 Guest</div>
                        <div class="item" data-value="2">2 Guests</div>
                        <div class="item" data-value="3">3 Guests</div>
                        <div class="item" data-value="4">4 Guests</div>
                        <div class="item" data-value="5">5 Guests</div>
                        <div class="item" data-value="6">6 Guests</div>
                        <div class="item" data-value="7">6+ Guests</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="two fields">
                  <div class="field" style="text-align:center;">
                    <h3 style="padding:15px 40px;">University</h3>
                  </div>
                  <div class="field">
                    <div class="ui fluid search selection dropdown" style="border-radius:0px; width:100%; box-shadow:0 0 0 1px rgba(39,41,43,.15)inset!important; height:54px;">
                      <input type="hidden" name="university">
                      <i class="dropdown icon"></i>
                      <div class="default text">University</div>
                      <div class="menu">
                        <div class="item" data-value="Cornell University">Cornell University</div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row" id="addmenu-2" style="display:none;">
                <div class="two fields">
                  <div class="field" style="text-align:center;">
                    <h3 style="padding: 15px 40px;">Date</h3>
                  </div>
                  <div class="field">
                    <div class="datePicker">
                      <div class="form-horizontal">
                        <div class="control-group">
                              <div class="controls">
                                  <div class="ui icon input" style="vertical-align:baseline; min-width:100%;">
                                      <input id="date-picker" type="text" class="date-picker form-control" placeholder="Date" name="date"/>
                                      <i class="calendar outline icon"></i>
                                      <label for="date-picker" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>
                                      </label>
                                  </div>
                              </div>
                        </div>
                      </div>
                    </div>
                  </div>
                            
                </div>

                <div class="two fields">
                  <div class="field" style="text-align:center;">
                    <h3 style="padding:15px 40px;">Price</h3>
                  </div>
                  <div class="field">
                    <div class="ui input" style="width:100%; display:inline-block;">
                        <input type="text" name="price" placeholder="USD">
                    </div>
                  </div>
                </div>

                <div class="two fields">
                  <div class="field" style="text-align:center;">
                    <h3 style="padding:15px 40px;">Address</h3>
                  </div>
                  <div class="field">
                    <input type="text" name="address" placeholder="Street" style="height:54px; border-radius:0px; box-shadow:0 0 0 1px rgba(39,41,43,.15)inset!important;">
                  </div>
                </div>

                <div class="two fields">
                  <div class="field" style="text-align:center;">
                    <h3 style="padding:15px 40px;">City</h3>
                  </div>
                  <div class="field">
                    <input type="text" name="city" placeholder="City" style="height:54px; border-radius:0px; box-shadow:0 0 0 1px rgba(39,41,43,.15)inset!important;">
                  </div>
                </div>

                <div class="two fields" style="padding-bottom:20px;">
                  <div class="field" style="text-align:center;">
                    <h3 style="padding:15px 40px;">Description</h3>
                  </div>
                  <div class="field">
                    <div class="ui input">
                    <textarea name="description" placeholder="Please describe your menu more specifically. Such as dishes and special requests for guests."></textarea>
                  </div>
                  </div>
                </div>
              </div>
                <button id="ctn" type="button" class="ui teal button" style="float:right;" onclick="changeDiv1()">Continue</button>
                <button id="sbm" type="submit" style="display:none; float:right;" class="ui red button">Submit</button>
            </form>
            <!-- end of form -->
          </div>

        </div>
      </div>

    </div>



  <script>

    $(document).ready(function() {
      $('.ui.dropdown').dropdown();
      $('.ui.checkbox').checkbox();    
      $("#date-picker").datepicker();
    }); 

    function changeDiv1() {
         document.getElementById('addmenu-2').style.display = "block";
         document.getElementById('ctn').style.display = "none";
         document.getElementById('sbm').style.display = "block";
    }

  </script>
</body>


