<html lang="en">
<head>
  	<% include  ../views/head %>
</head>
<body>
	<% include ../views/nav %>

	<!-- <div class="ui segment event">
		<img src="/image/sample-env-cover-1.jpg" alt="Enviroment Cover" style="position:abosulte; width:100%; max-height:600px;"> 
	</div> -->
	<div class="ui segment event" style="margin-top:80px;"id="context">		
		<div class="ui stackable grid">
		<div class="row">
			<div class="ten wide column" >
				<div class="ui stackable grid" >
					<div class="row intro" id="overview">
						<div class="column">
							<div class="ui segment">
								<div class="ui stackable grid">
									<div class="two column row">
										<div class="center aligned six wide column">
											<img class="ui small circular image" src="<%= host.portrait_path %>">
											
										</div>
										<div class="eight wide column">
											<h2 class="ui header"><%= menu.title %></h2>
											<h4 class="ui header"><%= menu.address %>, <%= menu.city %></h4>
											<p>Maximum guest number: <%= menu.quantity %></p>
											<h3 class="ui header"><a href="/users/detail/<%= host._id %>"><%= host.firstname %></a></h3><div class="ui huge star rating" data-rating="<%= host.rate_overall %>" data-max-rating="5"></div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row intro" id="detail">
						<div class="column">
							<div class="ui divided list" >
								<div class="item">
									<div class="content">
										<div class="description">
											<div class="ui stackable grid">
												<div class="two column row">
													<div class="six wide column">
														<h4 class="ui header">Description</h4>
													</div>
													<div class="ten wide column">
														<p><%= menu.description %></p>
													</div>
												</div>
											</div><!-- grid -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row intro" id="gallery">
						<div class="center aligned column">
								<% menu.imgpaths.forEach(function(p){ %>
									<img src="<%= p %>" class="ui centered image" style="padding:10px;"></img>
								<%})%>
						</div>
					</div>
					<div class="row intro">
						<div class="column">
						<div class="ui comments">
							<h3 class="ui dividing header">Reviews to this host</h3>
							<% reviews.forEach(function(r){%>
							<div class="comment">
								<a class="avatar" >
									<img class="ui circular image" src="<%= r.sender_img %>" style="height:auto;">
								</a>
								<div class="content">
									<a class="author"><%= r.sender_name %></a>
									<div class="metadata">
										<span class="date"></span>
									</div>
									<div class="text">
										<p><%= r.text %></p>
									</div>
								</div>
							</div>
							<% }) %>
						</div>
					</div>
					</div>
				</div><!-- grid -->
			</div>

			<div class="six wide column" style="padding-right:10%;">
				<div class="ui sticky">
					<div style="min-height:80px;">
					</div>
					<form enctype="multipart/form-data" method="post" action="">
						<% if(user._id != menu.user_id) {%>
						<div class="field quick control">
					    	<button class="ui button quick control" type="submit" name="action" id="contact_button" value="Contact">
					    		Contact Host
					    	</button>
						</div>
							<% if(typeof request != 'undefined') {%>
							<div class="field quick control">
							    <h3 class="ui header">You said: <%= request.text %></h3>
							</div>
							<div class="field quick control">
						    	<input class="ui button
						    	quick control" type="submit" name="action" value="Already Applied" disabled/>
						    </div>
							<% } else { %>
							<div class="field quick control">
								<div class="ui attached segement">
								<div class="ui input quick control">
							    	<input type="text" name="text" placeholder="Say Something to apply."/>
								</div>
								</div>
								<input class="ui bottom attached button quick control" type="submit" name="action" value="Apply"/>

							</div>
							<div class="field quick control">
							</div>
							<% } %>
				  		<% } else {%>
				  		<div class="field quick control">
				  			<button class="ui button quick control" type="button" onclick="location.href='/menu/edit/<%= menu._id %>'">Edit Menu</button>
				  		</div>
				  		<div class="field quick control">
				  			<button class="ui button quick control" type="button" onclick="location.href='/foodgallery/addfood/<%= menu._id %>'">Add Photos</button>
				  		</div>
				  		<% } %>	
				  	</form>
				</div>
			</div>
		</div>
	</div><!-- ui grid -->
</div>
	
  	<script>
		$('.ui.rating')
		  .rating('disable')
		;
		$('.ui.sticky')
		.sticky({
			context: '#context'
		});
  	</script>
</body>