<html lang="en">
<head>
  <% include  ../views/head %>
</head>
<body>
	<% include ../views/nav %>
		<div class="ui stackable grid">
			
					
						<div class="row" style="padding:0px;">
							<div class="nine wide column" style="margin-top:80px; padding-left:20px;">
			
			    				<form class="ui form search-form" action="/menus" enctype="multipart/form-data" method="post">
			    					<div class="two fields">
				    					<div class="field">				
					    					
						          				<div class="ui icon input">
						          					<input type="text" name="university" placeholder="Which university are you in?">
									  				<i class="search icon"></i>
												</div>
											
										</div>
										
										<div class="field">						
											
						          				<div class="datePicker">
													<div class="form-horizontal">
														<div class="control-group">
										        			<div class="controls">
										            			<div class="ui icon input">
										                			<input id="date-picker" type="text" class="date-picker form-control" placeholder="Date" name="date"/>
										               				 <i class="calendar outline icon"></i>
										                			<label for="date-picker" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>
										                			</label>
										            			</div>
										        			</div>
														</div>
													</div>
							    				</div>
							    		</div>
						    		</div>
					    
									    	
						    			
						    		
						    			
						    		<div class="two fields">
						    			<div class="field">
						    				
												<div class="ui selection dropdown">
													<input type="hidden" name="gender">
													<div class="default text">Guest</div>
													<i class="dropdown icon"></i>
													<div class="menu">
														<div class="item" data-value="1">1 Guest</div>
														<div class="item" data-value="2">2 Guests</div>
														<div class="item" data-value="3">3 Guests</div>
														<div class="item" data-value="4">4 Guests</div>
														<div class="item" data-value="5">5 Guests</div>
														<div class="item" data-value="6">6 Guests</div>
														<div class="item" data-value="7">6+ Guests</div>
													</div>
												</div>
											
										</div>

										<div class="field">
									  		
								  			<button class="ui red button" type="submit" id="search_button" s>Search</button>
									  	
								  		</div>		
							  		</div>  						
								</form>
									
								<div class="column" id="menulist" style="background-color: #f5f5f5; border-top: 1px solid #958D8D; padding-right:30px;">
									<div class="ui stackable grid">
										<!-- <div class="ui stackable grid" style="margin:0px;">
											<div class="two column row"> -->
											    <% menus.forEach(function(menu){%>
											    	<div class="eight wide column" >
												    	<div class="ui fluid card" id="<%= menu._id %>" class="eight wide column list" lat="<%= menu.lat %>" lng="<%= menu.lng%>" style="margin:10px;">
													      <div class="image">

													      	<% if(menu.imgpaths[0]!=null){%>
													      	<h3 class="price">$<%= menu.price %></h3>
													        <img class="ui image" src="<%= menu.imgpaths[0]%>" style="width:100%;height:auto;min-height:300px;max-height:300px;">
													        <%} else {%>
													        <h3 class="price">$<%= menu.price %></h3>
													        <img class="ui mediumn image" src="/image/sample-pic.jpeg" style="width:100%;height:auto;min-height:300px;max-height:300px;">
													        <% } %>
													      </div>
													      <div class="content">
													        <a href="/menu/detail/<%= menu._id%>" class="header"><%= menu.title %></a>
													        <div class="meta">
														    	<div class="txtDate"><%= menu.host_time %></div>
														    </div>
													      </div>
													    </div>
													</div>
													<!-- <div id="<%= menu._id %>" class="eight wide column list" lat="<%= menu.lat %>" lng="<%= menu.lng%>" style="padding:0px; padding-right:5px;">
														<div class="image" style="width:100% !important;">
															<h3 class="price">$<%= menu.price %></h3>
															<img src="<%= menu.imgpaths[0] %>" alt="img" id="menuImg" style="width:100%; padding:0px !important;">
														</div>
														<div class="ui grid">
															<div class="row">
																<div class="six wide column">
																	<img class="ui avatar image" src="" style="width:4.5em; height:4.5em;">
																</div>

																<div class="ten wide column">
																	<div class="content" style="padding-left:0.5em !important; text-align:center;">
																		<a href="/menu/detail/<%= menu._id %>" class="header"><%= menu.title %></a>

																		<div class="description">
																		</div>
																		
																		<div class="extra">
																	        <div class="ui label"><%= menu.type %></div>
																	        <div class="ui label"><%= menu.university %></div>
																        </div>
																    </div>
																</div>
															</div>
														</div>
													</div> -->
												<% }) %>
										<!-- 	</div>
										</div> -->
									</div>
									
								    
								</div>									
							</div>
					
							<div class="seven wide column" style="padding:0px; margin-top:56px; left:25;">
								
									<!-- This is a div for google map -->
								    <% if(typeof geo == 'undefined'){%>
								    <div id="map-canvas" lat="undefined" lng="undefined" style="width:92%;">
								    <% } else { %>
									    <div id="map-canvas" lat="<%= geo[0].latitude %>" lng="<%= geo[0].longitude %>" style="margin-left:0px;">
									    <% } %>
								    	</div>
										<!-- end of google map -->
									</div>			
								
							</div>
						</div>

			
		</div>


	<script src="/scripts/menus-map.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
	<script>
	var dates = document.getElementsByClassName("txtDate");
	for(var i=0; i<dates.length; i++){
		var formatted = dates[i].innerHTML.substr(0,15);
		dates[i].innerHTML = formatted;
	}	
	$(document).ready(function() {

		$("#date-picker").datepicker();
		$('.ui.dropdown').dropdown();
	});
		
	</script>

</body>