<html lang="en">
<head>
  	<% include  ../views/head %>
</head>
<body>
	<% include ../views/nav %>
	<div class="ui stackable grid main">

		<!-- veritical menu -->
		<div class="five wide column" id="vertical-menu">
			<% include ../views/profile-vertical-menu %>
		</div>
		<div class="eleven wide column">
			<div class="section">
				<h3 class="ui block top attached header"><i class="tasks icon"></i>Hosting Event List</h3>
				<div class="ui bottom attached secondary segment">
					<div class="ui items">
					<% posts.forEach(function(p) {%>
				  	<div class="item">
				    	<!-- <div class="ui small image">
				      	<img src="<%= p.imgpaths[0] %>">
				    	</div> -->
				    	<div class="middle aligned content">
				      		<div class="header">
				        	<a href="/menu/detail/<%= p._id %>"><%= p.title %></a> 
				      		</div>
				      		<div class="ui styled fluid accordion">
								<div class="title viewRequest" name="<%= p._id %>">
									<i class="dropdown icon"></i>
									View Requests
								</div>
								<div class="content" id="requestList<%= p._id%>">
									<p>There's no request right now</p>
								</div>
							</div>
				    	</div>
				  	</div>
				  	<% }) %>
					</div>
				</div>				
			</div>
		</div>
	</div>
	<script>
		$('.ui.accordion')
		  .accordion()
		;
		$('.viewRequest').on('click',function(e){
			var id = $(e.target).attr('name');
			$("#requestList"+id).html("");
			$.get('/request/pending/'+id,1,function(data){
				var reqInfos = data.reqInfos;
				data.reqInfos.forEach(function(req){
					var oneReq = "<a href='/users/detail/"+req.customer_id+"'>"+req.customer_name + "</a> said: " + req.text;
					console.log(req);
					var pending = "<form style='display:inline!important' method='post' enctype='multipart/form-data' action='/request/approve'><input type='hidden' name='request_id' value='"+req._id+"'/><button class='ui teal tiny button' style='display:inline; margin-left:10px' type='submit'>Approve</button></form>";
					var approved = "<button style='margin-left:10px' class='ui tiny button' style='float:right;'' disable>Approved</button>";
					var contact = "<form style='display:inline' method='post' action='/menu/detail/"+req.menu_id+"' enctype='multipart/form-data'><button class='ui blue tiny button' type='submit' name='action' value='Contact'>Contact</button></form>"
					if(req.status == 'pending'){
						oneReq += pending;
					} else {
						oneReq += approved;
					}
					oneReq += contact;
					$("#requestList"+id).append($('<div style="margin:10px;">').html(oneReq));
				})
			})
		})
		var dates = document.getElementsByClassName("txtDate");
		for(var i=0; i<dates.length; i++){
			var formatted = dates[i].innerHTML.substr(0,15);
			dates[i].innerHTML = formatted;
		}
	</script>
</body>