<html lang="en">
<head>
  	<% include  ../views/head %>
</head>
<body>
	<% include ../views/nav %>
	<div class="ui stackable grid main">
		<!-- veritical menu -->
		<div class="five wide column" id="vertical-menu">
			<% include ../views/profile-vertical-menu %>
		</div>

		<div class="eleven wide column">
			<div class="section">
				<h3 class="ui block top attached header"><i class="tasks icon"></i>Attending Event List</h3>
				<div class="ui bottom attached secondary segment">
					<% requests.forEach(function(r) {%>
				  	<li>
				    	<form enctype="multipart/form-data" method="post">
				      		<input type="hidden" name="reqid" value="<%= r._id %>"/>
				      		<p>Menu Title: <%= r.menu_id %> </p>
				      		<p>Time: <%= r.timestamp %> </p>
				      		<p>Message: <%= r.text %> </p>
				      		<input type="submit" value="Cancel"/>
				    	</form>
				  	</li>
				  	<% }) %>
				</div>				
			</div>
		</div>
	</div>
</body>