<html lang="en">
<head>
  	<% include  ../views/head %>
</head>
<body>
	<% include ../views/nav %>
	<div class="ui stackable grid main">

		<!-- veritical menu -->
		<div class="five wide column" id="vertical-menu">	
			<% include ../views/profile-vertical-menu %>
		</div>

		<div class="eleven wide column">
			<div class="section">

				<div class="ui secondary pointing menu">
					<a class="active item" id="pending">
						Pending Reviews
					</a>
					<a class="item" id="byyou">
						Reviews by you
					</a>
					<a class="item" id="aboutyou">
						Reviews about you
					</a>
				</div>

				<div id="pendingReview" style="display:block;">
					<% if(pendingReviewOrders.length == 0) {%>
						<div class="ui teal message">
						<div class="header">
						You do not have pending review right now.
						</div>
						</div>
					<% } else {%>
						<% pendingReviewOrders.forEach(function(pr){ %>
						<h3 class="ui block top attached header">Reviews to write</h3>
						<div class="ui bottom attached secondary segment">
						<form class="ui form" enctype="multipart/form-data" action="/review/add" method="post">
							<div class="field">
								<input type="hidden" name="menu_id" value="<%= pr.menu_id %>">
								<input type="hidden" name="order_id" value="<%= pr._id %>">
								<a href="/menu/detail/<%= pr.menu_id %>"><h3 class="ui header"><%= pr.menu_title %></h3></a>
							</div>
							<% if(user._id==pr.owner_id){%>
								<input type="hidden" name="receiver_id" value="<%= pr.customer_id %>">
							<p>Write a review for <%= pr.guestname %></p>
							<% } else { %>
								<input type="hidden" name="receiver_id" value="<%= pr.owner_id %>">
							<p>Write a review for <%= pr.hostname %></p>
							<% } %>
							<div class="field">
								<label class="ui huge label" for="reviewText">Review Text</label>
								<textarea id="reviewText" name="text" placeholder="Write your review here."></textarea>
							</div>
							<div class="field">
								<label class="ui huge label" for="reviewText">Rating</label>
								<div class="ui huge star rating" data-rating="5" data-max-rating="5"></div>
								<input type="hidden" value="5" id="rating" name="rating">
							</div>
							<div class="field">
								<button class="ui button">Submit</button>
							</div>
						</form>
						</div>
						<% }) %>
					<% } %>
				</div>
				<div id="reviewByYou" style="display:none;">
	 				<h3 class="ui block top attached header">Past Reviews By You</h3>
	 				<div class="ui bottom attached secondary segment">
	 					<div class="ui comments">
						
	 					<% reviewGiven.forEach(function(rg){%>
							<div class="comment">
								<a class="avatar" >
									<img class="ui circular image" src="<%= rg.sender_img %>" style="height:auto;">
								</a>
								<div class="content">
									<a class="author" href="/users/detail/<%= rg.receiver_id %>">To <%= rg.receiver_name %></a>
									<div class="metadata">
										<span>at event <a href="/menu/detail/<%=rg.menu_id%>"><%= rg.menu_title %></a></span>
										<span><i class="star icon"></i><%=rg.rate%> Star</span>
									</div>
									<div class="text">
										<%= rg.text %>
									</div>
								</div>
							</div>
						<% }) %>
						</div>
	 				</div>
 				</div>
				<div id="reviewAboutYou" style="display:none;">
					<h3 class="ui block top attached header">Past Reviews About You</h3>
					<div class="ui bottom attached secondary segment">
						<div class="ui comments">
							<% reviewReceived.forEach(function(rr){%>
			 				<div class="comment">
								<a class="avatar" >
									<img class="ui circular image" src="<%= rr.sender_img %>" style="height:auto;">
								</a>
								<div class="content">
									<a class="author" href="/users/detail/<%= rr.reviewer_id %>">From <%= rr.sender_name %></a>
									<div class="metadata">
										<span class="date">at event <a href="/menu/detail/<%=rr.menu_id%>"><%= rr.menu_title %></a></span>
										<span><i class="star icon"></i><%=rr.rate%> Star</span>
									</div>
									<div class="text">
										<%= rr.text %>
									</div>
								</div>
							</div>
		 					<% }) %>
						</div>
					</div>
				</div>
			</div>
	  	</div>
	</div>

	<script>
		var byyou =  document.getElementById("reviewByYou");
		var aboutyou = document.getElementById("reviewAboutYou");
		var pending = document.getElementById("pendingReview");
		$("#pending").click(function(){
			pending.setAttribute("style","display:block;");
			aboutyou.setAttribute("style","display:none;");
			byyou.setAttribute("style","display:none;");
			document.getElementById("pending").setAttribute("class","active item");
			document.getElementById("aboutyou").setAttribute("class","item");
			document.getElementById("byyou").setAttribute("class","item");
		})
		$("#aboutyou").click(function(){
			pending.setAttribute("style","display:none;");
			aboutyou.setAttribute("style","display:block;");
			byyou.setAttribute("style","display:none;");
			document.getElementById("pending").setAttribute("class","item");
			document.getElementById("aboutyou").setAttribute("class","active item");
			document.getElementById("byyou").setAttribute("class","item");
		})
		$("#byyou").click(function(){
			pending.setAttribute("style","display:none;");
			aboutyou.setAttribute("style","display:none;");
			byyou.setAttribute("style","display:block;");
			document.getElementById("pending").setAttribute("class","item");
			document.getElementById("aboutyou").setAttribute("class","item");
			document.getElementById("byyou").setAttribute("class","active item");
		})
		$('.ui.rating')
			.rating().click(function(){
				var innerHtml = $('.ui.rating').html();
				var pos = innerHtml.indexOf("<i class=\"icon\"");
				switch(pos){
					case -1: $("#rating").attr("value","5");break;
					case 108: $("#rating").attr("value","4");break;
					case 81: $("#rating").attr("value","3");break;
					case 54: $("#rating").attr("value","2");break;
					case 27: $("#rating").attr("value","1");break;
					default: $("#rating").attr("value","5");
				}
			});
	</script>
</body>