<html lang="en">
<head>
  	<% include  ../views/head %>
</head>
<body>
	<% include ../views/nav %>
	<div class="ui stackable grid" style="padding-top:80px; padding-left:10%; padding-right:10%;">
		<div class="center aligned row">
			<div class="six wide column">
				<div class="ui card">
					<div class="image">
						<img src="/image/sample-portrait.jpg">
					</div>
					<div class="content">
						<a class="header"><%= target.firstname %> <%= target.lastname %></a>
						<div class="meta">
							<div class="ui rating" data-rating="<%= target.rate_overall %>" data-max-rating="5"></div>
						</div>
					</div>
				</div>
				<div class="ui card">
					<div class="content">
						<div class="header">Verification</div>
						<div class="description">
							<div>
								<i class="facebook square icon"></i>
								<% if(target.facebook_id != null) { %>
									Facebook Verified
								<% } else { %>
									Facebook Not Verified
								<% } %>
							</div>
							<div>
								<i class="student icon"></i>
								<% if(target.edu_verified != null) { %>
									Edu Email Verified
								<% } else { %>
									Edu Email Not Verified
								<% } %>
							</div>
						</div>
					</div>
				</div>
				<div class="ui card">
					<div class="content">
						<div class="header">About Me</div>
						<div class="description">

						<div class="left aligned ui list">
							<div class="item">
							    <div class="content">
							      <a class="header">City</a>
							      <div class="description"><%= target.city %></div>
							    </div>
							</div>
							<div class="item">
							    <div class="content">
							      <a class="header">School</a>
							      <div class="description"><%= target.school %></div>
							    </div>
							</div>
							<div class="item">
							    <div class="content">
							      <a class="header">Work</a>
							      <div class="description"><%= target.company%></div>
							    </div>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
			<div class="left aligned ten wide column">
				<h3 class="ui block top attached header"><div><i class="user icon"></i>Description</div></h3>
				<div class="ui bottom attached secondary segment">
					<p>
						<%= target.bio %>
					</p>	
				</div>
				<!-- <div class="ui secondary pointing menu">
					<a class="active item" id="ashost">
					Reviews As Host
					</a>
					<a class="item" id="fromhost">
					Reviews From Hosts
					</a>
				</div> -->
				<div class="ui comments">
					<h3 class="ui dividing header">Received Reviews</h3>
					<!-- <div id="reviewAsHost" style="display:block;"> -->
					<% if(typeof reviews != "undefined") { reviews.forEach(function(r){ %>
					<div class="comment">
						<a class="avatar" >
							<img class="ui circular image" src="<%= r.sender_img %>" style="height:auto;">
						</a>
						<div class="content">
						<a class="author"><%= r.sender_name %></a>
						<div class="text">
							<%= r.text %>
						</div>
						</div>
					</div>
					<% }) } %>
						<!-- <div id="reviewFromHost" style="display:none;">
						</div> -->
					<!-- </div> -->
				</div>
			</div>
		</div>
	</div>
	<script>
		$('.ui.rating')
		  .rating('disable')
		;
		var ashost =  document.getElementById("reviewAsHost");
		var fromhost =  document.getElementById("reviewFromHost");
		$("#ashost").click(function(){
			ashost.setAttribute("style","display:block;");
			fromhost.setAttribute("style","display:none;");
			document.getElementById("ashost").setAttribute("class","active item");
			document.getElementById("fromhost").setAttribute("class","item");
		})
		$("#fromhost").click(function(){
			ashost.setAttribute("style","display:none;");
			fromhost.setAttribute("style","display:block;");
			document.getElementById("ashost").setAttribute("class","item");
			document.getElementById("fromhost").setAttribute("class","active item");
		})
	</script>
</body>