
html, body{
/*overflow-x: hidden;*//*This line makes sticky element not work!!!*/ 
margin: 0px;
padding: 0px;
height:100%;
width:100%;
background-color: #fff !important;

}

/*Index page*/
.field.index {
	padding-left: 0!important;
	padding-right: 0!important;
}



/*start of navigation bar*/
.nav-bar{
	z-index: 102;
  	position: fixed;
  	width: 100%;
  	height: 4rem;
  	background-color: #fff;
}
.item.nav-btn{
	display: inline-block;
}
.side-bar{
	display: none;
}
.item.side-btn{
	display: none!important;
}
#list-menu-btn {
	margin-left: 10px;
	display: inline-block;
}
#vertical-menu {
	display: inline-block;
}
.majorsearch {
	display: : inline-block;
}
.minorsearch {
	display: inline-block;
}
#searchbox {
	bottom: 40%;
}

@media screen and (max-width: 767px){
	.item.nav-btn{
		display: none!important;
	}
	.item.side-btn{
		display: inline-block!important;
	}
	.side-bar{
		display: block;
	}
	#list-menu-btn {
		display: none!important;
	}
	#vertical-menu {
		display: none!important;
	}
	.section {
		margin-left:0!important;
		margin-right:0!important;
	}
	.minorsearch {
		display: none!important;
	}
	.welcome h1 {
		font-size: 2rem !important;
	}
	.welcome h3 {
		font-size: 1rem !important;
	}
	#searchbox {
		bottom: 15% !important;
	}
}

.nav-bar a{
	color: white;
}

.nav{
	margin: 0px 0px;
}

.item.left{
	float:left;
	display: inline-block;
	margin-left:10px;
	margin-top: 12px;
	font-size: 1.2rem!important;
}


.item.right{
	float: right;
	display: inline-block;
	margin-right: 10px;
	margin-top: 12px;
	font-size: 1.2rem!important;
}

/*end of navigation bar*/



/*style for datepicker*/
.date-form { 
	margin: 10px; 
}

label.control-label span { 
	cursor: pointer; 
}

.input-group{
	width: 40%;
}


/*end of datepicker*/


/*google map*/
#map-canvas {
    height: 800px;
    background-color: #CCC;
    margin-top: 0px;
    margin-right: 0px;

}
/*end of google map*/

/*preFilter*/
.preFilter{
	height:150px;
	border-bottom: 1px solid #ddd;
}
/*end of preFilter*/


/*menuList*/
#menuList{
	position: relative;
	height:658px;
	overflow:scroll;
	overflow-x:hidden;
	overflow-y:scroll;
	width: 106%;
	margin-left: 0px;
}

.menuList ul{
	display: inline-block;
	list-style-type: none;
}
/*end of menuList*/

/*list of menu*/
.item{
	border-bottom:1px solid #ddd;
}

.price{
	position: absolute; 
	color:white;
	background-color: rgba(0,0,0,0.6);
	padding: 12px;
	bottom:50px;
	left:0;
	z-index:100;
}

#menuImg{
	width:250px;
	height: 220px;
	padding: 5px;
}
/*end list of menu*/

/*search form*/
.search-form{
/*	position:static !important;
	float: none;
    display: block;
    padding-top: 15%;
    z-index: 100;
    text-align: center;*/
}

.welcome h1{
	font-size: 40px;
	color: white;
}

.welcome h3{
	font-size: 20px;
	color: white;
}

.navbar-form{
	margin-top: 28px !important;
}

#front-page{
	height:510px;
}

#front-img{
	height: 225px;
}

#second-page{
	height:350px;
	margin-top: 6em;
	position: relative;
}

.univ-name{
	position: absolute; 
	top: 45%; 
	text-align: center;
	width: 91%;
	z-index:100;
	color: white;
}

#third-page{
	height:100%;
	margin-top: -1em;
	position: relative;
}
.wrapper{
	position: relative;
}

.footer{
	clear: both;
    position: relative;
    z-index: 0;
    height: 300px;
    background-color: black;
    color:white;
    text-align: center;
    bottom: 0;
    top:0;
    left: 0;
    width: 100%;
}

.footer ul li{
	list-style-type: none;
	padding-bottom:8px;
}

.footer ul li a{
	color: white;
	font-size: 15px; 
}

.copyright{
	text-align: center;
}

/*sidebar in profile*/
#sidebar {
  height: 250px;
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*profile detail*/
#head-photo{
	height: 100px;
	width: 100px;
	display: inline-block;
}


/*add menu*/
#add-menu{
	width:100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

#add-menu h1{
	text-align: center;
}

#add-menu-form-1{
	width: 100%;
}


/* CSS for all profile pages */
.ui.vertical.menu.profile {
	position:fixed;
	margin-top: 5rem;
	margin-left:5%;
	margin-right:0%;
	margin-bottom:5%;
}

.section {
	margin-top: 5rem;
	margin-left:1%;
	margin-right:5%;
	margin-bottom:5%;
}

.ui.massive.label {
	background-color: #FFFFFF;
	color: rgb(0,0,0);
}

.ui.stackable.page.grid.main {
	padding-top: 5rem;
}

.ui.selection.dropdown.gender {
	min-width: 15px;
}

.ui.black.basic.button.profile {
	float: right;
	margin-top: -.4em;
}
/* End of css for profile pages */

/* Event Page */
.detail.row {
	border-bottom: 0px !important;
}

.list-items {
	margin: 1em;
}
.description-area {
	margin: 1em;
}
.row.intro {
	padding-left:15% !important;
	padding-right:5% !important;
}

.ui.button.quick.control {
	margin-bottom: 10px;
	min-width: 100%;
}
.ui.input.quick.control {
	min-width: 100%;
}
.ui.segment.event {
	padding: 0px;
	box-shadow: none;
}

/*Conversation*/
.ui.message.conversation {
	margin-top:15px;
}





